body {
	background-color: pink;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;	
}

.title {
	background-color: yellow;
	position: absolute;
	top:0px;
	left:0px;
	width: 100%
}
.sidebar {
	background-color: white;
	position: absolute;
	top: 20px;
	left:0px;
	width:100px;
}
.main {
	background-color: blue;
	position: absolute;
	top: 20px;
	left: 100px;
}
.footer
 {
	background-color: red;
/*	position: absolute;
	bottom:0px;
	left:0px;*/
	width: 100%
}
